In [1]:
import pandas
import numpy
import matplotlib.pyplot as plt

In [35]:
dataset = pandas.read_excel("C:/repositorios/DL_LSTM/dataset/international-airline-passengers.xls", skiprows =  14, header =0)

In [36]:
dataset

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Month</th>
      <th>num_pass</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1949-01-01</td>
      <td>112</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1949-02-01</td>
      <td>118</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1949-03-01</td>
      <td>132</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1949-04-01</td>
      <td>129</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1949-05-01</td>
      <td>121</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1949-06-01</td>
      <td>135</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1949-07-01</td>
      <td>148</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1949-08-01</td>
      <td>148</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1949-09-01</td>
      <td>136</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1949-10-01</td>
      <td>119</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1949-11-01</td>
      <td>104</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1949-12-01</td>
      <td>118</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1950-01-01</td>
      <td>115</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1950-02-01</td>
      <td>126</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1950-03-01</td>
      <td>141</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1950-04-01</td>
      <td>135</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1950-05-01</td>
      <td>125</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1950-06-01</td>
      <td>149</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1950-07-01</td>
      <td>170</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1950-08-01</td>
      <td>170</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1950-09-01</td>
      <td>158</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1950-10-01</td>
      <td>133</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1950-11-01</td>
      <td>114</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1950-12-01</td>
      <td>140</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1951-01-01</td>
      <td>145</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1951-02-01</td>
      <td>150</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1951-03-01</td>
      <td>178</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1951-04-01</td>
      <td>163</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1951-05-01</td>
      <td>172</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1951-06-01</td>
      <td>178</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>114</th>
      <td>1958-07-01</td>
      <td>491</td>
    </tr>
    <tr>
      <th>115</th>
      <td>1958-08-01</td>
      <td>505</td>
    </tr>
    <tr>
      <th>116</th>
      <td>1958-09-01</td>
      <td>404</td>
    </tr>
    <tr>
      <th>117</th>
      <td>1958-10-01</td>
      <td>359</td>
    </tr>
    <tr>
      <th>118</th>
      <td>1958-11-01</td>
      <td>310</td>
    </tr>
    <tr>
      <th>119</th>
      <td>1958-12-01</td>
      <td>337</td>
    </tr>
    <tr>
      <th>120</th>
      <td>1959-01-01</td>
      <td>360</td>
    </tr>
    <tr>
      <th>121</th>
      <td>1959-02-01</td>
      <td>342</td>
    </tr>
    <tr>
      <th>122</th>
      <td>1959-03-01</td>
      <td>406</td>
    </tr>
    <tr>
      <th>123</th>
      <td>1959-04-01</td>
      <td>396</td>
    </tr>
    <tr>
      <th>124</th>
      <td>1959-05-01</td>
      <td>420</td>
    </tr>
    <tr>
      <th>125</th>
      <td>1959-06-01</td>
      <td>472</td>
    </tr>
    <tr>
      <th>126</th>
      <td>1959-07-01</td>
      <td>548</td>
    </tr>
    <tr>
      <th>127</th>
      <td>1959-08-01</td>
      <td>559</td>
    </tr>
    <tr>
      <th>128</th>
      <td>1959-09-01</td>
      <td>463</td>
    </tr>
    <tr>
      <th>129</th>
      <td>1959-10-01</td>
      <td>407</td>
    </tr>
    <tr>
      <th>130</th>
      <td>1959-11-01</td>
      <td>362</td>
    </tr>
    <tr>
      <th>131</th>
      <td>1959-12-01</td>
      <td>405</td>
    </tr>
    <tr>
      <th>132</th>
      <td>1960-01-01</td>
      <td>417</td>
    </tr>
    <tr>
      <th>133</th>
      <td>1960-02-01</td>
      <td>391</td>
    </tr>
    <tr>
      <th>134</th>
      <td>1960-03-01</td>
      <td>419</td>
    </tr>
    <tr>
      <th>135</th>
      <td>1960-04-01</td>
      <td>461</td>
    </tr>
    <tr>
      <th>136</th>
      <td>1960-05-01</td>
      <td>472</td>
    </tr>
    <tr>
      <th>137</th>
      <td>1960-06-01</td>
      <td>535</td>
    </tr>
    <tr>
      <th>138</th>
      <td>1960-07-01</td>
      <td>622</td>
    </tr>
    <tr>
      <th>139</th>
      <td>1960-08-01</td>
      <td>606</td>
    </tr>
    <tr>
      <th>140</th>
      <td>1960-09-01</td>
      <td>508</td>
    </tr>
    <tr>
      <th>141</th>
      <td>1960-10-01</td>
      <td>461</td>
    </tr>
    <tr>
      <th>142</th>
      <td>1960-11-01</td>
      <td>390</td>
    </tr>
    <tr>
      <th>143</th>
      <td>1960-12-01</td>
      <td>432</td>
    </tr>
  </tbody>
</table>
<p>144 rows × 2 columns</p>
</div>